#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

.pagination .ms-Button {
    border: none !important;
    background: none !important;
    min-width: 0 !important;
    padding: 5px !important;
}

.pagination .ms-Button.ms-Button--primary .ms-Button-label {
    color: #e47100;
}